.RedBlock {
  margin: 20px;
  background: red;
  display: inline-block;
  padding: 30px;
}

.Tooltip {
  padding-left: 5px;
  position: absolute;
  transform: translate(0, -50%);
}

.Tooltip-container {
  position: relative;
  border: solid 1px black;
  padding: 2px;
  border-radius: 3px;
  background-color: #fff;
  display: inline-block;
  position: relative;
}

.Tooltip-container::after {
  content: ' ';
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.Tooltip-trigger {
  cursor: pointer;
}
